@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&family=Ubuntu:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border:border-box;
}
.container{
    padding: 100px 0px;
    align-items: center;

}

#logo{
    width: 150px;
}
.teste{
    display: flex;
    align-items: center;
}
.gestante-chamadaBtn{
    color: #ffff ;
    cursor: pointer;
    padding: 5px; 
    background-color:rgb(231, 34, 34);
    border-radius: 7px;
}
.normal-chamadaBtn{
    color: #ffff ;
    cursor: pointer;
    padding: 5px; 
    background-color:rgb(17, 53, 231);
    border-radius: 7px ;
}
.idoso-chamadaBtn{
    color: #ffff ;
    cursor: pointer;
    padding: 5px; 
    background-color:rgb(189, 202, 8);
    border-radius: 7px;
}
.especial-chamadaBtn{
    color: #ffff ;
    cursor: pointer;
    padding: 5px; 
    background-color:rgb(3, 110, 21);
    border-radius: 7px;
    
}
footer{
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #ffff;
    height: 5%;
}
footer a{
   text-decoration: none;
   color: #ffff;
}
#btn-char{
    width: 200px;
    height: 100px;
}
.container button a{
    text-decoration: none;
    color: #ffff;
}
.form-group{
    width: 300px;
    text-align: left;
    font-size: 25px;
    border: 1px solid black;
    padding: 20px;
    border-radius:4px;
}
#button-setor{
    margin-top: 20px;
    width: 100%;
}
#btn-char{
    padding: 10px;
    margin: 20px;
}
.lista-setores{
    display: flex;
    flex-direction: column;
    
}

.lista-setor-titulo{
    font-size: 25px;
    
  
}
.setor-id{
    border: 1px solid black;
    margin-bottom: 5px;
    width: 300px;
    padding: 5px;
}
    
.lista-setor-nome{
    border-top: 1px solid black;
    padding: 5px;
}

#botao-deletar{
    align-items: right;
    text-align: right;
}

