<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel=icon type=imagex-icon href="/img/favicon.png">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/atendimentos.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atendimentos</title>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/dashboard">
            <img id="logo" src="/img/logo.png" alt="Rede Hospitalar Samar">
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/dashboard">Inicio</a>
              </li>
              <li class="nav-item">
                
                <a class="nav-link" href="#">Notificações</a> <i class="fas fa-bell"></i>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Opções
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Chamados</a></li>
                  <li><a class="dropdown-item" href="#">Gráficos</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="http://suporte.ameron.com.br/">suporte</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active">Sair</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Pesquisar</button>
            </form>
          
          </div>
        </div>
      </nav>

      <div class="container mt-03">
        <h3>Atendimento em espera</h3>
        <table  class="table table-bordered">
          <thead>
            <tr>
              <th>Senha</th>
              <th>Prioridade</th>
            </tr>
            </thead>
            <tbody class="atendimentoEmEspera">  
            </tbody>
          </thead>
          
        </table>
        <h3>Atendimento em progresso</h3>
        <table class=" table table-bordered " >
          <thead>
            <tr>
              <th>Senha</th>
              <th>Prioridade</th>
            </tr>
            </thead>
            <tbody class="atendimentoEmProgresso">  
            </tbody>
          </thead>
        </table>
      </div>
<footer class="bg-dark"> Desenvolvido por  <a href="https://github.com/Ferkz" target="_blank">You burro men ?</a> &copy;copyright 2022 </footer>
<script src="./atendimentos.js" type="module"></script>
<script src="/js/bootstrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>

</body>
</html>