<!DOCTYPE html>
<html lang="PT-BR  ">
<head>
    <meta description="gerar-senha">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Web Senha</title>
    <link rel="stylesheet" href="/css/gerar-senha.css">
    <link rel=icon type=imagex-icon href="/img/favicon.png">
</head>
<body>
    <div class="container">
        <img src="/img/logo.png" alt="">
        <button class="senha-btn senha-normal" data-tipo="normal">Senha Normal</button>
        <button class="senha-btn senha-gestante" data-tipo="gestante">Senha Gestante</button>
        <button class="senha-btn senha-idoso" data-tipo="idoso">Senha Idoso</button>
        <button class="senha-btn senha-especial" data-tipo="especial">Senha Especial</button>
    </div>
</body>
</html>